# Created by https://www.toptal.com/developers/gitignore/api/go
# Edit at https://www.toptal.com/developers/gitignore?templates=go

### Go ###
# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.a
*.exe
*.exe~
*.dll
*.so
*.dylib

/tmp
# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
.env
# End of https://www.toptal.com/developers/gitignore/api/go

.cartesi
.cartesi.env

.env.develop

# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
crowdfundings/broadcast

# Dotenv file
.env


# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.pem

# environment variables
.env
.env.production

*.db

# macOS-specific files
.DS_Store

bytecode.txt

.air/

Cargo.lock
target